// Voter style
@import './_voter.scss';
@import './color/_md-color.scss';

//Some colors from 'color/_md-color.scss'
$border-color: $md-grey-400;
$box-shadow-color: $md-grey-400;
$light-text-grey: $md-grey-400;

$base-border-radius: 5px;
$base-padding: 10px;

* {
  box-sizing: border-box;
}

.post-transition-enter {
  transform: translateX(120%);
  opacity: 0.01;
}

.post-transition-enter.post-transition-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 500ms ease;
}

.post-transition-leave {
  transform: translateX(0);
  opacity: 1;
}

.post-transition-leave.post-transition-leave-active {
  transform: translateX(120%);
  opacity: 0.01;
  transition: all 500ms ease;
}

.post-card {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr 0.5fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: 
    "vote title title category comments"
    "vote preview preview preview comments"
    "vote time time time comments";
  align-items: center;
  border: 1px solid $border-color;
  border-radius: $base-border-radius;
  margin: 20px 20px 0px 20px;
  box-shadow: 7px 7px 10px 0px $box-shadow-color;
}

.post-title {
  font-size: $font-size-m;
  grid-area: title;
  text-align: left;
  padding-left: $base-padding;
  padding-right: $base-padding;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-decoration: underline;
}

.post-category {
  grid-area: category;
  font-size: $font-size-m;
  text-align: center;
}

.post-body-preview {
  grid-area: preview;
  font-size: $font-size-m;
  padding-left: $base-padding;
  padding-right: $base-padding;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: left;
}

.post-time {
  color: $light-text-grey;;
  font-size: $font-size-m;
  grid-area: time;
  padding-left: $base-padding;
  padding-right: $base-padding;
  text-align: left;
}
.post-vote-buttons-container {
  @extend .voter-buttons-container-vertical;
  grid-area: vote;
  align-self: normal;
}

.post-button {
  @extend .voter-button; 
  cursor: pointer;
}

.post-button:active {
  background: rgba(150, 150, 150, 0.2);
}

.post-positive-button {
  @extend .voter-positive-button-vertical;
}

.post-negative-button {
  @extend .voter-negative-button-vertical;
}

.post-vote-count {
  @extend .voter-counter;
}

.comments-button {
  grid-area: comments;
  height: 100%;
  border: none;
  border-left: 1px solid $border-color;
  background: transparent;
  outline: none;
  padding: 5px;
  transition: color 0.2s, background 0.2s;
  font-size: $font-size-m;
}

.comments-button:hover {
  color: $secondary-color;
}

.comments-button:active {
  background: rgba(150, 150, 150, 0.2);
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  .post-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "category"
      "title"
      "preview"
      "time"
      "comments"
      "vote";
    align-items: center;
  }

  .post-title {
    text-align: center;
  }

  .post-body-preview {
    text-align: center;
    align-self: center;
    max-width: 84vw;
  }

  .post-time {
    text-align: center;
  }

  .comments-button {
    border: 1px 0 1px 0 solid $border-color;
  }
  
}