.readable-category-nav-pane {
  background: $nav-pane-background;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  //height: 100vh;
  width: 25vw;
}

.nav-pane-button {

}

.nav-pane-header {
  margin: 40px 0 40px 0;
}

.nav-pane-ordered-list {

}

.nav-pane-option {
  list-style-type: circle;
  margin-top: 10px;
  text-align: left;
}
.nav-pane-option:hover {
  background: rgba(0, 0, 0, 0.2);
}