.readable-new-post-card {
  border: 1px solid $border-color;
  border-radius: $base-border-radius;
  margin: 20px 20px 20px 20px;
}

.readable-new-post-inner-card {
  display: grid;
  grid-template-columns: .5fr 3fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: 
    "vote form"
    "vote form"
    "vote form";
  align-items: center;
  border: 1px solid $border-color;
  border-radius: $base-border-radius;
  margin: 20px 20px 0px 20px;
  box-shadow: 7px 7px 10px 0px $box-shadow-color;
}

.readable-new-post-form {
  display: grid;
  grid-area: form;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr 0.5fr 1fr;
  grid-template-areas: 
    "title title category"
    "body body body"
    "name name ."
}

.readable-new-post-title {
  font-size: $font-size-m;
  grid-area: title;
  text-align: left;
  padding-left: $base-padding;
  padding-right: $base-padding;
}

.readable-new-post-category {
  grid-area: category;
  font-size: $font-size-m;
  text-align: center;
}

.readable-new-post-body {
  grid-area: body;
  font-size: $font-size-m;
  padding-left: $base-padding;
  padding-right: $base-padding;
  text-align: left;
}

.readable-new-post-name {
  color: $light-text-grey;;
  font-size: $font-size-m;
  grid-area: name;
  padding-left: $base-padding;
  padding-right: $base-padding;
  text-align: left;
}