.main-body-container {
  display: flex;
  padding:10px;

  > * {
    box-sizing: border-box;
    transition: width 0.5s ease, opacity 1s ease;
  }


  .main-category-nav-pane {
    width: 20%;
    overflow: hidden;
  }

  .readable-posts-by-category-list {
    width: 80%;
    transform: translateY(-20px);
  }
}