@import '../color/_md-color.scss';

//----------- Global colors and variables ----------//
$primary-color: $md-blue-grey-800;
$secondary-color: $md-blue-grey-600;

$active-button-color: $primary-color;
$base-shadow-color: rgba(0, 0, 0, 0.4);


// border
$base-border-radius: 5px;
// spacing
$base-padding: 10px;
// box-shadow
$base-box-shadow-color: rgba(0, 0, 0, 0.4);
$base-box-shadow: 0 5px 10px $base-box-shadow-color;
$base-card-box-shadow: 7px 7px 10px $base-box-shadow-color;

$base-drop-shadow-filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6));
$base-drop-shadow-hovered-filter: drop-shadow(3px 3px 2px black);
// transition
$base-transition-timing: 0.2s;
// fonts
$font-size-xs: 0.5em;
$font-size-s: 0.75em;
$font-size-m: 1em;
$font-size-l: 1.1em;
$font-size-xl: 1.5em;
$font-size-xxl: 2em;

//---------- Voter ----------//
$positive-button-color: $md-blue-500;
$negative-button-color: $md-red-500;
$voter-button-background: transparent;
$voter-button-padding: 5px;



//---------- Post ----------//
$post-border-color: $md-grey-400;



//---------- Comment ----------//
$comment-card-background: $md-grey-50;
$comment-border-color: $md-grey-400;
