* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}



.post-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
    "vote title title category"
    "vote preview preview preview"
    "vote time time time";
  grid-column-gap: 5px;
  align-items: center;

  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  margin: 20px 20px 0px 20px;
  
  
  box-shadow: 7px 7px 10px 0px rgba(150, 150, 150, 0.3);
}

.post-title {
  font-size: 1.5em;
  grid-area: title;
  text-align: left;
  padding-left: 5px;
  padding-right: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

}

.post-category {
  grid-area: category;
  font-size: 1em;

  text-align: center;
}

.post-body-preview {
  grid-area: preview;
  font-size: 1em;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.post-time {
  color: rgba(150, 150, 150, 0.8);
  grid-area: time;
  padding-left: 5px;
  padding-right: 5px;
  text-align: left;
}
.post-vote-buttons-container {
  grid-area: vote;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: 
    "positiveButton"
    "voteCount"
    "negativeButton";
  /* align-items: center;
  text-align: center; */

  align-self: normal;
}

.post-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  transition: color 0.2s, box-shadow 0.4s, background 0.2s; 
}

.post-button:active {
  background: rgba(150, 150, 150, 0.2);
}

.post-positive-button {
  grid-area: positiveButton;
  border-radius: 5px 0 0 0;

  
}

.post-positive-button:hover {
  color: blue;
  box-shadow: inset 0 0 20px 0 rgba(150, 150, 150, 0.3);
  border-radius: 5px 0 5px 0;
}

.post-negative-button {
  grid-area: negativeButton;
  border-radius: 0 0 0 5px;
}

.post-negative-button:hover {
  color: red;
  box-shadow: inset 0 0 20px 0 rgba(150, 150, 150, 0.3);
  border-radius: 0 5px 0 5px;
}

.post-vote-count {
  grid-area: voteCount;
  align-self: center;
}


/* @media only screen and (max-width: 800px) {
  .post-card {
    white-space: normal;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "category"
      "title"
      "preview"
      "time"
      "vote";
  }

  .post-title {
    text-align: center;
  }

  .post-body-preview {
    text-align: center;
  }

  .post-time {
    text-align: center;
  }

  .post-vote-buttons-container {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "positiveButton voteCount negativeButton";
  }

  .post-positive-button:hover {
    box-shadow: inset -5px 5px 20px 0 rgba(150, 150, 150, 0.2);
    border-radius: 0 5px 0 5px;
  }

  .post-negative-button:hover {
    box-shadow: inset 5px 5px 20px 0 rgba(150, 150, 150, 0.3);
    border-radius: 5px 0 5px 0;
  }
  
} */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
  .post-card {
    display: grid;
    width: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
      "category"
      "title"
      "preview"
      "time"
      "vote";
    align-items: center;
  }

  .post-title {
    text-align: center;
  }

  .post-body-preview {
    text-align: center;
    align-self: center;
    max-width: 84vw;
  }

  .post-time {
    text-align: center;
  }

  .post-vote-buttons-container {
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "positiveButton voteCount negativeButton";
  }

  .post-positive-button:hover {
    box-shadow: inset -5px 5px 20px 0 rgba(150, 150, 150, 0.2);
    border-radius: 0 5px 0 5px;
  }

  .post-negative-button:hover {
    box-shadow: inset 5px 5px 20px 0 rgba(150, 150, 150, 0.3);
    border-radius: 5px 0 5px 0;
  }
  
}