.voter-buttons-container, .voter-buttons-container-horizontal, .voter-buttons-container-vertical, .post-vote-buttons-container {
  display: grid;
  align-content: center; }

.voter-buttons-container-horizontal {
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "positiveButton voteCount negativeButton"; }

.voter-buttons-container-vertical, .post-vote-buttons-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "positiveButton" "voteCount" "negativeButton";
  border-right: 1px solid #bdbdbd; }

.voter-button, .voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button, .voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button, .post-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 5px;
  transition: color 0.2s, background 0.2s; }

.voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button {
  grid-area: positiveButton; }

.voter-positive-button:hover, .voter-positive-button-horizontal:hover, .voter-positive-button-vertical:hover, .post-positive-button:hover {
  color: #2196f3; }

.voter-positive-button-horizontal {
  border-radius: 5px 0 0 5px; }

.voter-positive-button-vertical, .post-positive-button {
  border-bottom: 1px solid #bdbdbd;
  border-radius: 5px 5px 0 0; }

.voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button {
  grid-area: negativeButton; }

.voter-negative-button:hover, .voter-negative-button-horizontal:hover, .voter-negative-button-vertical:hover, .post-negative-button:hover {
  color: #f44336; }

.voter-negative-button-horizontal {
  border-radius: 0 5px 5px 0; }

.voter-negative-button-vertical, .post-negative-button {
  border-top: 1px solid #bdbdbd;
  border-radius: 0 0 5px 5px; }

.voter-counter, .post-vote-count {
  grid-area: voteCount;
  align-self: center; }

* {
  box-sizing: border-box; }

.post-card {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "vote title title category" "vote preview preview preview" "vote time time time";
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin: 20px 20px 0px 20px;
  box-shadow: 7px 7px 10px 0px #bdbdbd; }

.post-title {
  font-size: 1em;
  grid-area: title;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.post-category {
  grid-area: category;
  font-size: 1em;
  text-align: center; }

.post-body-preview {
  grid-area: preview;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.post-time {
  color: #bdbdbd;
  font-size: 1em;
  grid-area: time;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; }

.post-vote-buttons-container {
  grid-area: vote;
  align-self: normal; }

.post-button {
  cursor: pointer; }

.post-button:active {
  background: rgba(150, 150, 150, 0.2); }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .post-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "category" "title" "preview" "time" "vote";
    align-items: center; }

  .post-title {
    text-align: center; }

  .post-body-preview {
    text-align: center;
    align-self: center;
    max-width: 84vw; }

  .post-time {
    text-align: center; } }
.voter-buttons-container, .voter-buttons-container-horizontal, .voter-buttons-container-vertical, .post-vote-buttons-container {
  display: grid;
  align-content: center; }

.voter-buttons-container-horizontal {
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "positiveButton voteCount negativeButton"; }

.voter-buttons-container-vertical, .post-vote-buttons-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "positiveButton" "voteCount" "negativeButton";
  border-right: 1px solid #bdbdbd; }

.voter-button, .voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button, .voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button, .post-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 5px;
  transition: color 0.2s, background 0.2s; }

.voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button {
  grid-area: positiveButton; }

.voter-positive-button:hover, .voter-positive-button-horizontal:hover, .voter-positive-button-vertical:hover, .post-positive-button:hover {
  color: #2196f3; }

.voter-positive-button-horizontal {
  border-radius: 5px 0 0 5px; }

.voter-positive-button-vertical, .post-positive-button {
  border-bottom: 1px solid #bdbdbd;
  border-radius: 5px 5px 0 0; }

.voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button {
  grid-area: negativeButton; }

.voter-negative-button:hover, .voter-negative-button-horizontal:hover, .voter-negative-button-vertical:hover, .post-negative-button:hover {
  color: #f44336; }

.voter-negative-button-horizontal {
  border-radius: 0 5px 5px 0; }

.voter-negative-button-vertical, .post-negative-button {
  border-top: 1px solid #bdbdbd;
  border-radius: 0 0 5px 5px; }

.voter-counter, .post-vote-count {
  grid-area: voteCount;
  align-self: center; }

.comment-card {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "vote author" "vote body" "vote time";
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin: 2px 10% 0px 10%;
  box-shadow: 7px 7px 10px 0px #bdbdbd;
  background: #fafafa; }

.comment-author {
  grid-area: author;
  font-size: 1em;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.comment-time {
  grid-area: time;
  color: #bdbdbd;
  font-size: 0.75em;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.comment-body {
  grid-area: body;
  margin: 0;
  font-size: 1.1em;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px; }

.readable-main-view {
  background: #455a64; }

.body-container {
  background: white; }

.body-container:after {
  content: "";
  display: block;
  height: 0;
  clear: both; }

.nav-container {
  float: left;
  width: 25%;
  height: 100%; }

.category-view-container {
  width: 75%;
  height: 100%;
  float: right;
  margin-bottom: 20px; }

.readable-main-footer {
  background: #455a64;
  height: 100px;
  width: 100%; }

.readable-category-nav-pane {
  position: fixed; }

.readable-main-title {
  background: #455a64;
  box-shadow: 7px 7px 10px #bdbdbd;
  color: white;
  padding: 20px;
  text-align: left; }

.app-title {
  display: inline;
  margin-right: 10px;
  font-size: 2em;
  text-shadow: 2px 2px 1px black; }

.app-category {
  display: inline;
  font-size: 1.5em;
  text-shadow: 2px 2px 1px black; }

.readable-category-nav-pane {
  background: #607d8b;
  border-radius: 5px;
  box-shadow: 7px 7px 10px #bdbdbd;
  color: white;
  text-align: center;
  margin: 2.5%;
  width: 20%;
  text-shadow: 2px 2px 1px black; }

.nav-pane-header {
  margin: 40px 0 40px 0; }

.nav-pane-ordered-list {
  list-style: none;
  padding: 0; }

.nav-pane-option {
  text-align: left;
  padding: 10px;
  width: 100%; }

.nav-pane-option:before {
  content: '\2215';
  margin: 0 0.5em; }

.nav-pane-option:hover {
  background: #455a64; }

.nav-pane-option:active {
  opacity: .9; }

.new-post-button {
  background: #607d8b;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  transition: color 0.2s, background 0.2s;
  cursor: pointer; }

.new-post-button:hover {
  color: #ffeb3b; }

.new-post-button:active {
  color: #fbc02d; }

.post-icon {
  vertical-align: middle; }

/*# sourceMappingURL=ReadableAppStyle.css.map */
