.readable-primary-header {
  background: #455a64;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 20px;
  text-align: left;
  position: relative;
  display: block; }
  .readable-primary-header > * {
    display: inline-block;
    vertical-align: middle; }
  .readable-primary-header .app-title {
    margin-left: 20px; }
  .readable-primary-header .app-category {
    margin-left: 20px; }

.main-secondary-header {
  background: #607d8b;
  padding: 10px;
  display: block; }
  .main-secondary-header > * {
    box-sizing: border-box;
    display: inline;
    vertical-align: middle;
    background: transparent;
    text-align: center; }
  .main-secondary-header .nav-toggle-button {
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    width: 25%; }
  .main-secondary-header .nav-toggle-button:hover {
    color: black; }
  .main-secondary-header .nav-toggle-button:active {
    color: rgba(0, 0, 0, 0.4); }
  .main-secondary-header .sort-selector {
    display: inline-block;
    color: white;
    width: 50%; }
    .main-secondary-header .sort-selector > * {
      vertical-align: middle;
      height: 5em;
      background: transparent; }
    .main-secondary-header .sort-selector svg {
      display: inline; }
    .main-secondary-header .sort-selector select {
      width: 5em;
      font-size: 1em;
      border: none;
      color: white;
      cursor: pointer;
      outline: none; }
    .main-secondary-header .sort-selector select:hover {
      color: black; }
    .main-secondary-header .sort-selector .sort-order-button {
      border: none;
      outline: none;
      cursor: pointer;
      color: white; }
    .main-secondary-header .sort-selector .sort-order-button:hover {
      color: black; }
    .main-secondary-header .sort-selector .sort-order-button:active {
      color: rgba(0, 0, 0, 0.4); }
  .main-secondary-header .readable-new-post-button {
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    width: 25%; }
    .main-secondary-header .readable-new-post-button * {
      display: inline; }
  .main-secondary-header .readable-new-post-button:hover {
    color: black; }
  .main-secondary-header .readable-new-post-button:active {
    color: rgba(0, 0, 0, 0.4); }

.voter-buttons-container, .voter-buttons-container-horizontal, .voter-buttons-container-vertical, .post-vote-buttons-container {
  display: grid;
  align-content: center; }

.voter-buttons-container-horizontal {
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "positiveButton voteCount negativeButton"; }

.voter-buttons-container-vertical, .post-vote-buttons-container {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "positiveButton" "voteCount" "negativeButton";
  border-right: 1px solid #bdbdbd; }

.voter-button, .voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button, .voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button, .post-button {
  background: transparent;
  border: none;
  outline: none;
  padding: 5px;
  transition: color 0.2s, background 0.2s; }

.voter-positive-button, .voter-positive-button-horizontal, .voter-positive-button-vertical, .post-positive-button {
  grid-area: positiveButton; }

.voter-positive-button:hover, .voter-positive-button-horizontal:hover, .voter-positive-button-vertical:hover, .post-positive-button:hover {
  color: #2196f3; }

.voter-positive-button-horizontal {
  border-radius: 5px 0 0 5px; }

.voter-positive-button-vertical, .post-positive-button {
  border-bottom: 1px solid #bdbdbd;
  border-radius: 5px 5px 0 0; }

.voter-negative-button, .voter-negative-button-horizontal, .voter-negative-button-vertical, .post-negative-button {
  grid-area: negativeButton; }

.voter-negative-button:hover, .voter-negative-button-horizontal:hover, .voter-negative-button-vertical:hover, .post-negative-button:hover {
  color: #f44336; }

.voter-negative-button-horizontal {
  border-radius: 0 5px 5px 0; }

.voter-negative-button-vertical, .post-negative-button {
  border-top: 1px solid #bdbdbd;
  border-radius: 0 0 5px 5px; }

.voter-counter, .post-vote-count {
  grid-area: voteCount;
  align-self: center; }

* {
  box-sizing: border-box; }

.post-card {
  display: grid;
  grid-template-columns: .5fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 0.5fr 1fr;
  grid-template-areas: "vote title title category" "vote preview preview preview" "vote time time time";
  align-items: center;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  margin: 20px 20px 0px 20px;
  box-shadow: 7px 7px 10px 0px #bdbdbd; }

.post-title {
  font-size: 1em;
  grid-area: title;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.post-category {
  grid-area: category;
  font-size: 1em;
  text-align: center; }

.post-body-preview {
  grid-area: preview;
  font-size: 1em;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.post-time {
  color: #bdbdbd;
  font-size: 1em;
  grid-area: time;
  padding-left: 10px;
  padding-right: 10px;
  text-align: left; }

.post-vote-buttons-container {
  grid-area: vote;
  align-self: normal; }

.post-button {
  cursor: pointer; }

.post-button:active {
  background: rgba(150, 150, 150, 0.2); }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .post-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "category" "title" "preview" "time" "vote";
    align-items: center; }

  .post-title {
    text-align: center; }

  .post-body-preview {
    text-align: center;
    align-self: center;
    max-width: 84vw; }

  .post-time {
    text-align: center; } }

/*# sourceMappingURL=ReadableAppStyle.css.map */
